#panel {
	float: left;
	border: 1px dotted #333;
	border-radius: 5px;
	background: #AAA;
	display: inline-block;
	text-align: center;
}

#grid {
	margin: 16px;
}

#grid .cell {
	border: none;
	border-radius: 5px;
	width: 2em;
	height: 2em;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin: 2px;
}
